params: <%=params.inspect%>
  
<ol>
  <li> USER ID: <%=@user.id%> </li>
  <li> USER EMAIL: <%=@user.email%></li>
  <li> 
    PRODUCTS:
    <%@user.products.each do |product|%>
    <%=product%>
    <% end %>
  </li>
</ol>

