<hr>
<!-- Uncomment the following line for testing purposes. If you feel like it. -->
<!-- EXPECTING NO PRODUCT RETURN NOTICE:  -->
  <% if flash[:notice] %>
    <div class="notice"><%= flash.now[:notice] %></div>
  <% end %>

<!--   sign-up, sign-in should be separate fixed window that you can exit
  sign in, goes to welcome, which should be product index
  add continue to "Products List" button -->