
<div id="notice"><%= flash.notice %></div>
<hr>

  <!-- **The following div is temporary! ** List top categories here
   * put top_categories array in application controller (right now only in catoegory controller-also need in welcome controller) -->

<div class="sidebar">
  <% Category.all.each do |category| %>
  <%= link_to "#{category.name.upcase}", category_path(category) %>
  <% end %>
</div>
<hr>

<%= render "products/index" %>


