<div class= "ordershow">

Params: <%= params.inspect %> <br>

Order: <%= current_order.inspect %>
<hr>

OrderProduct: <%= @orderproduct.inspect %>

These are the products in your order:

<ol>
<% @products.map do |product| %>
 <li> <%= link_to "#{product.name.upcase}", product_path(product) %></li>
<% end %> 
</ol>

</div>