/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html, body {
  background: white url(Pod_of_hippos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
  height:100%;
}

.main_heading {
  font-family: arial, sans-serif;
  font-size: 48pt;
  text-align: center;
  background: #C1A5A5;
}

.nav_bar ul {
  font-family: arial, sans-serif;
  font-size: 18pt;
  background: #C1A5A5;
  display: block;
  postion: relative;
}