/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: white url('Pod_of_hippos.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #ED671F;
}

.nav_bar {
  height: 48px;
  top: 0;
  background-color: white;
  text-align: right;
  padding: 15px;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #ED671F; 
}

.nav_bar #icon img{
  width: 50px;
  left: 15px;
  position: fixed;
}

.navbuttons {
  margin-right: 20px;
  margin-top: 20px;
  width: 900px;
  right: 0px;
  top: 0px;
  left: 500px;
  position: fixed;
}

.nav_bar ul li {
  padding: 5px;
  width: 200px;
  font-size: 15pt;
  display: inline-block;
}

.content {
  min-height: 1000px;
  width: 700px;
  margin: auto;
  margin-left: 500px;
  padding: 20px;
  background: white;
}

label {
  min-width: 200px;
}

#productname {
  margin-top: 10px;
  margin-bottom: 10px;
}

.productlist :hover {
  background-color: #DED4C5;
}

.search_bar {
  left: 30px;
  width: 200px;
  height: 32px;
  margin: 10px, auto;
  position: fixed;
}

.search_bar input {
  display: inline-block;
  width: 150px;
  min-height: 20px;
} 

.search_bar form {
  margin-top: 20px;
  width: 300px;
}

.search_bar input[type=submit] {
  width: 75px;
}

#product {
  height: 200px;
}

#productphoto {
  text-align: center;
}

#productshowname {
  text-align: center;
}

.sidebar {
  font-size: 17pt;
  font-variant: small-caps;
  position: fixed;
  left: 0;
  width: 275px;
  background-color: gray;
  height: 100%;
  text-align: left;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a {
  color: white;
}

tbody {
  width: 700px;
}

#notice {
  color: #ED671F;
  text-align: center;
  font-size: 18pt;
  font-style: italic;
}

.ordershow {
  background-color: white;
  padding: 10px;
}

table {
  width: 100%;
  border: 1px #968D86;
  border-spacing: 0;
  margin: auto;
}

.number_field {
  width: 50px;
}

td {
  border: 2px solid white;
  background-color: #D8D7D9;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

th {
  border: 1px solid #968D86;
  padding: 10px;
  background-color: #968D86;
  font-weight: italic;
}

.individualproduct img {
  width: 150px;
  height: 150px;
  padding-top: 10px;
  margin-right: 200px;
}

ul.individualproduct {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 150px;
}

#userinfo {
  list-style-type: none;
  font-style: italic;
  color: purple;
}

#cartbutton {
  max-height: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

