/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  font-family: arial, sans-serif;
  background: white url(Pod_of_hippos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
  height:100%;
  margin-top: 30px;
}

.nav_bar {
  height: 48px;
  top: 0;
  background-color: #968D86;
  text-align: right;
  padding: 15px;
  position: fixed;
  width: 100%;
}

.nav_bar #icon {
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  width: 50px;
  left: 15px;
  position: fixed;
}

.navbuttons {
  width: 900px;
  right: 0px;
  top: 0px;
  position: fixed;
  border: 1px solid blue;
  /*position: absolute;*/
}

.nav_bar ul li {
  padding: 5px;
  /*top: 100px;*/
  width: 200px;
  font-size: 15pt;
  display: inline-block;
}

.content {
  width: 700px;
  margin: auto;
  margin-left: 500px;
  padding: 20px;
  background: white;
}

.search_bar {
  border: 1px solid #968D86;
  left: 60px;
  float: left;
  width: 200px;
  height: 32px;
  margin: 10px, auto;
  background-color: #968D86;
  padding: 15px;
  position: fixed;
}

.search_bar input {
  width: 50px;
  min-height: 20px;
} 

#product {
  height: 25px;
  width: 100px;
}

.sidebar {
  width: 200px;
  background-color: gray;
  height: 100%;
  text-align: left;
}

tbody {
  width: 700px;
}

#notice {
  background-color: #E33BCF;
  text-align: center;
  font-size: 18pt;
  font-style: italic;
}

.ordershow {
  background-color: white;
  padding: 10px;
}

table {
  width: 100%;
  border: 1px #968D86;
  border-spacing: 0;
  margin: auto;
}

.number_field {
  width: 50px;
}

td {
  border: 1px solid #968D86;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

th {
  border: 1px solid #968D86;
  padding: 10px;
  background-color: #968D86;
}
