.productlist ul{
  border: 5px solid #968D86; 
  list-style-type: none;
  display: inline-block;
  min-height: 100px;
  height: 150px;
  width: 150px;
  margin-left: 25px;
}

.individualproduct ul{
  list-style-type: block;
  border: 5px solid green;
}

#cartbutton {
  min-height: 50px;
}