<ul class="categories">
<% @top_categories.take(40).each do |category| %>
    <li>
    <%=link_to "#{category.first.name.upcase}", category_path(category.first.id) %>
    </li>
<% end %> 
</ul class= "categories">