<% unless Category.all == [] %> 
  <%= form_for @product, url: product_category_product_path(product_id: @product.id) do |f| %>  
    <p>Choose the categories that describe this product:</p>
    <div>
      <%= f.select(:category_products,
                 Category.all.collect { |p| [p.name, p.id] },
                 {:selected => CategoryProduct.where(:product_id => @product.id).map(&:category_id)},
                 {'name' => 'product[category][]', :multiple => true}) %>
    </div>
    <br>
    <div class= "actions">
      <%=f.submit "Update categories" %>
    </div>
  <% end %>
<% end %>

<br>
<div>Want to create a new category?
  <%= link_to "Create new Category", create_category_path(@product) %>
</div>

<br>